
:root{
  font-family: 'Pacifico', cursive;
}
body{
  width:  600px;
  margin: 0 auto;
}
img{
  display: block;
  width: 100%; 
}
h1 {
  font-family: "Arial",sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight:bold;
  background-color: #3aaa00;
  color: #ffff3f;
  width: 70%;
  height: 200px;
  padding: 20px,20px,20px,20px;
  border:  11px dotted #000;
  margin:  50px auto;
  box-sizing: border-box
  
}
p{
  text-align: justify;
  line-height: 30px;
}
a{
  vertical-align: sub;
}
ul{
  padding: 0;
  list-style-position: inside;
}
li{
  border-bottom: 1px solid #ccc;
  padding: 5px 0px;
}
li>span{
 width: 200 px;
  display:inline-block;
}